.main{

}
.google_search {
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
}
header{
	position: fixed;
	text-align: right;
  height:60px;
  width:100%;
	z-index:100000;
	background-color: white;
	top: 0px;

}

.headerRight a{
	padding: 20px 5px 20px 5px;
	text-decoration: none;
}
i{
	padding: 20px 5px 20px 5px;
}
.signIn {
	padding: 20px 5px 20px 5px;
}

input {
	display: block;
	width: 500px;
	height: 20px;
	margin: auto;
	margin-top: 15px;
}
.buttons{
	text-align: center;
}
button{
	margin: 20px 10px;
	padding: 10px 20px;
}
img {
	display: block;
	height: 7em;
	margin: auto;
}

body {
	background-color: white;
}

footer {
	position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
	background-color: #EEEEEE;
}
li {
	display: inline;
}
.footerRight {
	float: right;
}
.footerRight a{
	display: inline-block;
	padding: 10px 5px 10px 5px;
	text-decoration: none;

}
.footerLeft {
	float: left;
}
.footerLeft a{
	display: inline-block;
	padding: 10px 5px 10px 5px;
	text-decoration: none;
}
